---

layout: 'base_club.njk'

---

<div class="container1">
    


  <h1 data-heading="E">E-Yantra </h1>
 
</div>

<div class="con-info">

  <div class="heading">

    <img class="op" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2Fop.png?alt=media&token=39c52df4-71a9-43b0-98ad-2284e7d3a80d" alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FE%20yantra%2Fcl%2FPicture1.png?alt=media&token=50da593c-98d2-4dc5-83d8-42d8ffa846b6" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>e-Yantra is a cutting-edge skill enhancement lab embedded in our college, designed to foster a culture of "Project-Based Learning." Through our initiatives, we empower both teachers and students to develop essential technology skills that are critical for solving real-world problems. By providing hands-on experience with the latest tools and technologies, e-Yantra turns theory into practice, enabling participants to innovate and apply their knowledge effectively. </p>
    
</div>
</div>






<div class="row" style="flex-direction: column-reverse;">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       <h3>Introduction </h3>
      <p>Our lab focuses on creating a dynamic learning environment where members collaborate on projects that address real challenges in society. Through various e-Yantra initiatives, students and educators receive structured training, giving them the confidence and expertise to tackle complex technological problems. Join e-Yantra and embark on a journey where learning meets application, and ideas transform into impactful solutions!</p>
      
  </div>
  </div>
  
  
  <div class="col-sm-3 qa">
  
       
            <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FE%20yantra%2Fcl%2Fimages.jpeg?alt=media&token=40081cc6-b130-446c-9c63-a5ffb62e2fb4">
            
  
     
      </div>
  </div>
  </div>

</div>




<div class="join">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
        Are you ready to take your skills to the next level? Join e-Yantra and become part of a thriving community that’s passionate about innovation and real-world problem-solving. Whether you’re a student eager to enhance your technical knowledge or a teacher looking to inspire your students, e-Yantra provides the perfect platform to grow and excel. With hands-on projects, mentorship, and access to cutting-edge resources, this is your chance to turn ideas into impactful solutions. Don’t miss out—become a part of e-Yantra and start making a difference today!

      </p>

    </div>
    <div class="info-txt3">
    <p> 
    <b> Contact   <br>
    
    Department Of ECE
    </b>
      
<br><br>
     
      <br>
 
     
    

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2FAniBot_Cyber_Fly.gif?alt=media&token=e480f62a-a69e-4f2d-b77e-abaf95817267" alt="">

</div>



  </div>
</div>

















</div>







 



















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


 