<!DOCTYPE html>

<html lang="en-US" class="no-js no-svg">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/css/bootstrap.min.css">

<link rel="stylesheet" href="swiper-bundle.min.css" />

<link href="style.css" type="text/css" rel="stylesheet">

<link href="responsive.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="swiper.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" /> -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tilt+Prism&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


	<!-- This site is optimized with the Yoast SEO plugin v20.5 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>RNSIT</title>
	




</head>

<body >


<div class="main_wrapper">

<header class="header_sec">

<div class="header_sec_top">

<div class="container">

<div class="header_sec_links">

<ul>




<li><a href="https://www.rnsit.ac.in/contact-us/">CultFiesta<i class="fa-regular fa-heart fa-beat"></i></a></li>

</ul>

</div>

</div>

</div>






<div class="header_sec_bottom">

<div class="container">

<div class="header_sec_bottom_in">

<nav class="navbar navbar-expand-lg">

<a class="navbar-brand" href="https://www.rnsit.ac.in/">

<img src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/img/logo.jpg">

</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>

</button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">

<ul class="navbar-nav">


<li class="nav-item   active ">

<a class="nav-link "  href="../../../index.html" >

Home
</a>




</li>



<li class="nav-item  ">

<a class="nav-link "  href="../../../About/About.html" >

About
</a>




</li>










<li class="nav-item  dropdown  ">

<a class="nav-link dropdown-toggle"  data-toggle="dropdown" >

Ongoing Events
</a>


<div class="dropdown-menu" aria-labelledby="navbarDropdown">


<a class="dropdown-item" href="../../../sort list/tech sort/technical.html ">Technical</a>

<a class="dropdown-item" href="../../../sort list/non tech sort/non technical.html">Non-Technical</a>

<a class="dropdown-item" href="../../../sort list/sports/sports.html">Sports</a>

<a class="dropdown-item" href="../../../sort list/workshops/workshops.html">Workshops</a>

</div>











</li>




<li class="nav-item mega-menu-btn">

<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Our Clubs</a>	

<div class="mega-menu">

<div class="row">








  <div class="col-lg-3">

    <div class="mega-menu-list">
    
    <div class="menu-title">
    
    <h3><a>CAT</a></h3>
    
    </div>
    
    
    
    
    
    
    
    <ul class="mega-menu-links">
    
      <li><a href="../Cat/cat.html">CAT</a></li>
    
      <li><a href="../AURA/aura.html">Auro Fashion Team</a></li>
    
    
      <li><a href="../Dhawni/Dhwani.html">Dhwani</a></li>
      
      <li><a href="../Nataranj/Nataranj.html">Natarang</a></li>
      

      <li><a href="../Synapse/synapse.html">Synapse</a></li>
      
      <li><a href="../ACTKRIT/actkrit.html">Actkrit</a></li>
      
    
      <li><a href="../chiranuthana/cultfiesta.html">Chiranutana</a></li>
    
    </ul>
    
    </div>
    
    </div>
    
    
    








<div class="col-lg-3">

<div class="mega-menu-list">

<div class="menu-title">

<h3><a >CSE Clubs</a></h3>

</div>

<ul class="mega-menu-links">


<li><a href="../Cultfiesta/cultfiesta.html">CultFiesta</a></li>

<li><a href="../Esponica/esponica.html">Esponica</a></li>

<li><a href="../Aikya/Aikya.html">Aikya</a></li>


<li><a href="../AdroIT/Adroit.html">Adroit</a></li>

<li><a href="../GDSC/GDSC.html">Google Developer Student Clubs</a></li>
<li><a href="../Nex sus/nex.html">Nex Sus</a></li>
<li><a href="../Cybertrox/cybertrox.html">Cybotryx</a></li>
<li><a href="../BigO/BigO.html">BigO</a></li>


</ul>

</div>

</div>





























<div class="col-lg-3">

<div class="mega-menu-list">

<div class="menu-title">

<h3><a >ISE</a></h3>

</div>







<ul class="mega-menu-links">


  <li><a href="../Pinnacle/pinnacle.html">Pinacle</a></li>


  <li><a href="../EDC/EDC.html">Entrepreneurship Development Cell</a></li>
  
  
  <li><a href="../MUN/MUN.html">MUN</a></li>
  
  


</ul>

</div>

</div>




<div class="col-lg-3">

  <div class="mega-menu-list">
  
  <div class="menu-title">
  
  <h3><a >ECE Clubs</a></h3>
  
  </div>
  
  
  
  
  
  
  
  <ul class="mega-menu-links">
  
  
    <li><a href="../IEEE/IEEE.html">IEEE</a></li>
  
  
    <li><a href="../ROBOTRONICS/robo.html">Robotronics</a></li>
    
    
    <li><a href="../Falcon/Falcon.html">Falcon</a></li>
    
    <li><a href="../Splash/Splash.html">Splash</a></li>
  
  <li><a href="../SHUDHI/shd.html"> Shuddi</a></li>
  
  
    <li><a href="../UDC/UDC.html">UI Path</a></li>
    <li><a href="../IETE/IETE.html">IETE</a></li>
  
    <li><a href="../E yantra/eyan.html">E Yantra</a></li>
    <li><a href="../CodEx/CodEX.html">CodEx</a></li>
    <li><a href="../V-tech/V-techni.html">V-Tech HUb</a></li>
  
  
  
    
  
  
  </ul>
  
  </div>
  
  </div>


<div class="col-lg-3">

<div class="mega-menu-list">

<div class="menu-title">

<h3><a>AI&ML</a></h3>

</div>







<ul class="mega-menu-links">


  <li><a href="../AMURA/AMURA.html">AMURA</a></li>


  


</ul>

</div>

</div>




<div class="col-lg-3">

  <div class="mega-menu-list">
  
  <div class="menu-title">
  
  <h3><a>Dept of Physical Education</a></h3>
  
  </div>
  
  
  
  
  
  
  
  <ul class="mega-menu-links">
  
  
    <li><a href="../RSC/Rsc.html">RSC</a></li>
  
  
    
  
  
  </ul>
  
  </div>
  
  </div>





  <div class="col-lg-3">

    <div class="mega-menu-list">
    
    <div class="menu-title">
    
    <h3><a>Dept of Humanities and Basic Science</a></h3>
    
    </div>
    
    
    
    
    
    
    
    <ul class="mega-menu-links">
    
    
      <li><a href="../Enlightera/enlightera.html">Elightera</a></li>

      <li><a href="../nss/Nss.html">NSS</a></li>


      <li><a href="../YRSC/YRSC.html">YRSC</a></li>

      <li><a href="../sci-fi/sci.html">Sci-Pi</a></li>
    
    
      
    
    
    </ul>
    
    </div>
    
    </div>









<div class="col-lg-3">

<div class="mega-menu-list">

<div class="menu-title">

<h3><a >MECH</a></h3>

</div>







<ul class="mega-menu-links">


  <li><a href="../PDC/PDC.html">Product Development Club</a></li>





</ul>

</div>

</div>

















<li class="nav-item mega-menu-btn">

<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Timeline</a>	

<div class="mega-menu">

<div class="row">


<div class="col-lg-3">

<div class="mega-menu-list">

<div class="menu-title">

<h3><a> To Be Updated </a></h3>

</div>







</div>

</div>











<li class="nav-item  ">

<a class="nav-link "  href="../../../Location/location.html" >

Location
</a>




</li>



<li class="nav-item  ">

<a class="nav-link "  href="../../../Contact/contact.html" >

Contact Us
</a>




</li>



</ul>

<div class="navbar_right">




<!-- -------------------------------------search------------------------------------------------------ -->



<div class="navbar_right_seach">

<a href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" data-toggle="collapse"><i class="fa fa-search"></i></a>

<div class="navbar_right_seach_con collapse"  id="collapseExample">

<form>

<input type="text" name="" class="form-control">

<input type="button" name="" value="Search" class="btn btn-primary">

</form>

</div>

</div>



<!-- -------------------------------------search------------------------------------------------------ -->





<div class="navbar_right_social">

<ul>

<li><a href="https://www.facebook.com/rnsit.official/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>

<li><a href="https://www.instagram.com/rnsit_bangalore_official/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>

<li><a href="https://www.linkedin.com/company/rnsit-official/" target="_blank"><i class="fa-solid fa-user"></i></i></a></li>

</ul>

</div>

</div>

</div>

</nav>

</div>
   
</div>

</div>

</header>

</div>







{{ content | safe }}


{% include 'footer.njk' %}







</body >
</html>