---
layout: 'base1.njk'

---



<div class="container1">
   
  <div class="row" >
    <div class="col-sm-4 ">
      
      
      <div class="poster">

        <img src="{{ poster }}" alt="">
        
      </div>
    
    
    </div>


    <div class="col" style="margin: 0%;padding: 0%;">
      
      <div class="con-1">
        <h1 > {{title}} </h1>

            <div class="con-txt">
          <p> {{long_description}} </p>
              </div> 

              <div class="con-details">
                <h3>Details</h3>

                <P><Span><b>DATE:</b></Span> {{date}} </P>
                 <P><Span><b>VENU:</b></Span> {{venu}} </P>
                <P><Span><b>Pre Requists:</b></Span>  {{prerequists}} </P>
              <P><Span><b>ENTRY FEE:</b></Span> {{fee}} </P>
                
              </div>

          
        </div> 
    
    
    </div>



    <div class="con-details2">
      <P><Span><b>Time:</b></Span> {{time}} </P>
      <P><Span><b>By Club:</b></Span> {{Club_name}} </P>
      <P><Span><b>Department:</b></Span> {{Department}} </P>
      <P><Span><b>Outcome:</b></Span> {{outcome}} </P>
      <Span><b>Contact:</b></Span><P> {{number_1}} <br> {{number_2}} </P>


    </div>


  </div>

  <div class="row">
    <div class="col">
      
      <div class="btn-1">
    <a href="{{url}}" style="text-decoration: none; color: white;"> <button class="cssbuttons-io-button" >Regiter Now
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
          </div>
        </button></a>
      </div>
      
    
    </div>


    <div class="col">
      
      <div class="container3">
        <button class="button"><a href=" {{post.url2}}" style="  text-decoration: none;">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">Explore Club</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </button>  </a>
      </div>
    
    
    
    </div>
   
  </div>






</div>

<section class="footer">
  <h4>About Us</h4>
  <p>You Plan, We gather! <br>Our club deals with Organising, Conducting
      and Organising events </p>
      <div class="icons">
         <a href="https://www.instagram.com/cristiano/?hl=en"> <i class="fa-brands fa-instagram fa-beat-fade"></i></a>
         <a href=""> <i class="fa-brands fa-discord"></i></a>
              <i class="fa-solid fa-phone"></i>
              <i class="fa-solid fa-location-dot"></i>

      </div>
<p>Made With  <i class="fa-regular fa-heart"></i> by CultFiesta</p>

    </section>




    <!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->