---
layout: 'base_club.njk'
---

<div class="container1">
  

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
		<defs>
			<text id="text" x="50%" y="50%" font-family="Voltaire" font-size="120px" font-weight="800" text-anchor="middle" alignment-baseline="middle">
        V-Techno Hub
			</text>
		</defs>
		<filter id="glow">
		    <feGaussianBlur id="glowBlur" stdDeviation="3.5" result="coloredBlur"/>
		    <feMerge>
		        <feMergeNode in="coloredBlur"/>
		        <feMergeNode in="SourceGraphic"/>
		    </feMerge>
		</filter>
		<filter id="shock">
			<feTurbulence type="fractalNoise" baseFrequency="0.2" numOctaves="1" seed="2" result="noise" id="noise">
  <animate attributeType="XML" attributeName="seed" from="2" to="120" dur="12s" repeatCount="indefinite"/>
</feTurbulence>
			<feMorphology id="morph1" in="SourceGraphic" operator="dilate" radius="10" result="morph1" />
			<feMorphology id="morph2" in="morph1" operator="dilate" radius="2" result="morph2" />
			<feComposite operator="out" in="morph2" in2="morph1" result="strokeText"/>
			<feDisplacementMap 
                         xChannelSelector="R" 
                         yChannelSelector="G" 
                         in="strokeText" 
                         in2="noise"
                         result="displacementMap"
                         color-interpolation-filters="sRGB"
                         scale="10" />
            <feGaussianBlur stdDeviation="5" result="coloredBlur"/>
		    <feMerge>
		        <feMergeNode in="coloredBlur"/>
		        <feMergeNode in="displacementMap"/>
		    </feMerge>
		</filter>
  <filter id="shock2">
			<feTurbulence type="fractalNoise" baseFrequency="0.2" numOctaves="1" seed="2" result="noise" id="noise">
  <animate attributeType="XML" attributeName="seed" from="2" to="120" dur="10s" repeatCount="indefinite"/>
</feTurbulence>
			<feMorphology id="morph3" in="SourceGraphic" operator="dilate" radius="1" result="morph1" />
			<feMorphology id="morph4" in="morph1" operator="dilate" radius="1" result="morph2" />
			<feComposite operator="out" in="morph2" in2="morph1" result="strokeText"/>
			<feDisplacementMap 
                         xChannelSelector="R" 
                         yChannelSelector="G" 
                         in="strokeText" 
                         in2="noise"
                         result="displacementMap"
                         color-interpolation-filters="sRGB"
                         scale="10" />
            <feGaussianBlur stdDeviation="5" result="coloredBlur"/>
		    <feMerge>
		        <feMergeNode in="coloredBlur"/>
		        <feMergeNode in="displacementMap"/>
		    </feMerge>
		</filter>
    <use xlink:href="#text" id="textShock" x="2" y="2" filter="url(#shock)" stroke="0" stroke-width="1" fill="#ccc"/>
  <use xlink:href="#text" id="textShock" x="2" y="2" filter="url(#shock2)" stroke="0" stroke-width="1" fill="#f90"/>
    <use xlink:href="#text" id="textFill" x="0" y="0" fill="white" />
    <use xlink:href="#text" id="textGlow" x="0" y="0" filter="url(#glow)" stroke="#f90" stroke-width="0.1" fill="transparent"/>
	</svg>
  </div>

 
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERDh1tJMJDRDte-ZijaxeeEBFGaSkmrgFdI30Ebeo4NJUQ?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>
    
    
Our club serves as a catalyst for aspiring ECE students, fostering their interest in VLSI and embedded systems. Through engaging activities such as technical talks, workshops, and courses, we provide valuable insights into current trends and opportunities within the core domain. 
    </p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       <h3>Introduction </h3>
      <p>
        Our alumni meets create a network of support and inspiration, while technical tests challenge and enhance the skills of our members. Join us in this journey of exploration and empowerment in the dynamic field of VLSI and embedded systems. 
      </p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="Gallery/1.png">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info" style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
      
      <h1>ACTIVITIES AND EVENTS</h1>
    
    </div>
<div class="mem1 ">
<div class="row justify-content-center">
  

<div class="col a b">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EWBwSvBkcTtFjFd9sNsXDHEBSj1D_CsA-IgTiCPkn50Nmg?download=1" alt=""></div>
     <div class="content">
      
         <span class="title1">
          Conducted Intercollegiate VLSI project expo (April 19th 2023)
         </span>
       
    
   
       
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EZWxmEmM0cpCiI6P0BM5cEQBVrDsJm7Q11gCI2x_M6E1vQ?download=1" alt=""></div>
     <div class="content">
       
         <span class="title1">
          Technical talk (1st september)
         </span>
   
      
   
     </div>
   </div>

</div>



<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EZwDiuRdNdBPjEgCum_sEggBSX74gMVuieTSnKdpkp143A?download=1" alt=""></div>
     <div class="content">
      
         <span class="title1">
          In-house internship (from Aug 8th to September 9th)
         </span>
   
    
   
       
     </div>
   </div>

</div>




</div>


</div>

</div>



<div class="mem2" style="overflow-x: hidden;" >
  
    <div class="heading">

      <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
    
    <h1>Co-ordinators</h1>
  
  </div>
      <div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EWBnpKCFbJ9Fo8CJ6FTic04B5uTI0NHrUOzzZCM7jUQMgw?download=1" alt="" style="object-fit: contain;"></div>
          <div class="category">Faculty Co ordinator </div>
          <div class="heading1"> Dr. Ohileshwari MS
          </div>
     
  
  
  
  
        </div>





  </div>


<div class="gallery">
  <div class="heading5">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>Gallery</h1>

</div>


<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUcwK5Pb-lhGlxtDf0cc32sBvGS8oerAs5SniRTyK0MxMA?download=1" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERtn0tiME05LibtRq5gYMIkBSpZyaTZckrh3eF8O9dLrFg?download=1" style="object-fit: cover" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EQgMPWKLBZRJoU4-eAKv6foB8HPq_d5P4z-X90S81y6XcA?download=1" style="object-fit: cover" alt="">
    </div>

    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUcwK5Pb-lhGlxtDf0cc32sBvGS8oerAs5SniRTyK0MxMA?download=1" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERtn0tiME05LibtRq5gYMIkBSpZyaTZckrh3eF8O9dLrFg?download=1" style="object-fit: cover" alt="">
    </div>
    <div class="swiper-slide">
      <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EQgMPWKLBZRJoU4-eAKv6foB8HPq_d5P4z-X90S81y6XcA?download=1" style="object-fit: cover" alt="">
    </div>



 


    <!-- 15 div -->
  </div>
  </div>
</div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 15,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: true,
      },
      loop: true,
    });
  </script>
  

<div class="join" style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
      
        Assume the roles of activity coordination and volunteer management, energize student involvement, take the lead in organizing insightful VLSI workshops, spearhead the intercollegiate VLSI project expo "Silicons," and extend a warm invitation to enthusiastic individuals seeking to join our vibrant club and contribute to the exciting world of VLSI and embedded systems.
      </p>

    </div>
    <div class="info-txt3">
    <p> <b>Call US :</b>
      <br>
      <b>Student Co ordinators :</b>
      <br>
      Namitha : 8618969013 <br> Vishal : 8618179706
      <br>
      
 
      <br>
      
    

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EcJCvFAKatFCs8H0BzOMsdMB2zf39SefleTT8B6gKOvyhg?download=1" alt="">

</div>



  </div>
</div>

















</div>





















































<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


