---
layout: 'base_club.njk'
---


<div class="new"> 
  <h1>Will Be Updated soon</h1>
</div>

<style>

  .new{
  height: 60vh;
  text-align: center;
  }
 h1{
   margin-top: 50%;
 }
 </style>
