@media(max-width: 1199px){
    .header_sec_bottom_in ul.navbar-nav a.nav-link {
        font-size: 15px; 
        padding: 0 9px;   
    }
  
    @media(max-width: 991px){
    
    .navbar-toggler-icon i {
        color: #ff6500;
        font-size: 40px;
    }
    .navbar-toggler {
        padding: 0;
        line-height: 1;
        font-size: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span.navbar-toggler-icon {
        width: auto;
        height: auto;
    }
    .navbar-toggler:focus{
        outline: 0;
    }
    .header_sec_bottom_in ul.navbar-nav a.nav-link {
        font-size: 15px;
        margin: 10px 0;
        padding: 0;
        border: 0;
    }
    .navbar-collapse {
        padding-top: 10px;
    }
    .navbar_right {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-top: 11px;
        margin-bottom: 15px;
    }
    .navbar_right_seach {
        position: inherit;
    }
    .navbar_right_seach_con {
        position: absolute;
        left: 0;
        background: #09015f;
        border-radius: 7px;
        width: 100%;
        margin-top: 5px;
        z-index: 1;
        right: auto;
    }
    .form-control {
        height: 40px;
    }
  
    }
    
    @media(max-width: 767px){
    body {
        font-size: 14px;
    }
    a.navbar-brand {
        flex: 0 0 60px;
    }
    .navbar-toggler-icon i {
        font-size: 30px;
    }
    .navbar-toggler {
        width: 30px;
        height: 30px;
    }
  
    .tabs_sec1 .nav-tabs .nav-link {
        min-width: 80px;
        font-size: 14px;
    }
    .nav-tabs .nav-item {
        min-width: 140px;
        max-width: 140px;
    }
    .tabs_sec1 .nav-tabs {
        margin-bottom: 10px;
    }

    .header_sec_links ul {
        display: block;
        text-align: center;
    }
    .header_sec_links ul li {
        display: inline-block;
        padding: 0 10px;
        vertical-align:middle;
        max-width:110px;
    }
        
    .header_sec_links > ul > li > a {
        font-size:13px;
        white-space:normal;
    }	
    
    }
    
}