
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    counter-reset: section;
}


/* login  */

.login{
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login h1{
    text-align: end;
    padding: 5px;
}

.login input {
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #111;
     outline: none;
     width: 100%;
}

.login button{
    width: 100%;
    padding: 5px 10px;
    background: #111;
    border: 1px solid #111;
    color: #fff;
    text-align: center;
    transition: 0.4s ease-in;
    cursor: pointer;

}

.login button:hover{
    background: transparent;
    color: #111;
}


.container.main{
  
border-radius: 10px;
    padding: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(164, 19, 19, 0.24) 0px 1px 2px;

}
/* header */

header {
    background: #111;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
}
header ul li a{
     color: #fff;
}

.notify {
    background: green;
    color: #fff;
    text-align: center;
    width: 50% !important;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
 margin-bottom: 2% !important;
 margin-top: 2% !important;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/* post */

.main_content{
    display: grid;
  border: 2px solid;
  
}

.main_content .post_form {
    width: 450px;
    margin: 100px auto;
    box-shadow: rgba(red, green, blue, 0.16) 0px 1px 4px;
    padding: 20px !important;
}

.main_content .post_form input ,textarea{
    width: 100%;
    border: 2px solid #111;
    padding: 5px ;
    margin: 10px 0;
    border-radius: 10px;
}

.main_content .post_form button{
    width: 100%;
    background: #111;
    color: #fafafa;
    padding: 5px 0;
    border: 1px solid #111;
    transition: 0.5s ease-in-out;
}
.main_content .post_form button:hover{
    background: midnightblue;
}


/* update_btn */

.my_blog{
    display: none;
}

.update_btn {
    display: none;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/* notify */

.notify {
    width: 80%;
    display: block;
    margin:  0 auto;
    text-align: center;
    background: green;
    color: #fff;
    margin-top: 70px;
}


/* my_content */
.dropdown_container{
width: 100% !important;
margin-bottom: 2%;
padding: 10px;
border-radius: 200px;

}
.dropdown_trigger{
text-align: center;

}

.dropdown_content{
    border-radius: 10px; /* Adjust the value for desired curvature */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 20px; /* Optional: Add padding for better spacing */
    background-color: #f9f9f9; /* Optional: Add a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better aesthetics */
}

.separator {
    border-bottom: 3px solid black;
    padding-bottom: 5%;
}

.my_content {
    width: 100%;
    padding: 40px 50px; 
    
    
}

.my_content table td img{
    object-fit: contain;
    height: 150px !important;
    margin-top: 0% !important;
}

.my_content table td b{
  font-size: larger;
  
}
.my_content table {
    width: 100%;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
}

.my_content table tr{
    margin: 30px 0;
    width: 100%;
    padding-left: 2% !important;
  
}



.my_content table tr button{
    padding: 7px 10px;
    border: 1px solid #111;
    border-radius: 15px;
   transition: .5s ease-in;
   color: #fff;
   cursor: pointer;
}

.my_content table tr button.delete{
    background: rgb(106, 8, 8);
}
.my_content table tr button.update{
    background: rgb(8, 67, 106);
}
.my_content table tr button:hover{
    background: transparent;
    color: #111;
}


/* id */

.postNumber{
    height: 20px;
    display: inline-block;
    width: 20px;
}

.postNumber::before{
    counter-increment: section;
    content: counter(section) ;
}


/*  */


.main {
    width: 70%;
    margin: 0  auto;
    padding: 60px 0;
}

.post {
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
}
.post h2{
    padding: 10px 0;
}

footer{
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background: #111;
    text-align: center;
}