

  



<div class="club-info">
  
  <img class="op" src="https://firebasestorage.googleapis.com/v0/b/myapp-8ecc3.appspot.com/o/Cultfiesta%2Fbackground%2Fop.png?alt=media&token=01436a5b-2464-40de-b1b2-a92e82c18ec5" alt="">

<h1>Our Clubs</h1>

<div class="con">
  




 <div class="row s">
  <div class="col" style="padding: 0%;" >

    <div class="con-txt">
      <p>Rnsit Consists of more than 30 technical and
      non-technical clubs which have 
      conducted over 1000+ exciting activities 
      and has won over 100+ inter-college 
      competitons  
      </p>
      
      <!-- <button class="exp" ><a href="">Explore Now<i class="fa fa-angle-right"></i>  </a></button> -->

<div class="con-but">
      <a href="./Our Clubs/Clubs/index.html" style="text-decoration: none; color: white;">
        <button class="cssbuttons-io-button" >Explore Now       
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
      </button>
        </a>  
      </div>
</div>







  </div>
  <div class="col s"  >
     
    
    <div class="scroll">
        
      <video  autoplay loop muted playsinline class="scroll">
        <source src="https://firebasestorage.googleapis.com/v0/b/myapp-8ecc3.appspot.com/o/Cultfiesta%2Fbackground%2Fhead1.mp4?alt=media&token=04fd8485-c97f-4a89-ba44-235d6a1d74c7" type="video/mp4 ">
    </video>

 </div>
</div>
  
</div>










    
</div>



</div>


<div class="banner2">
    <div class="group2">
        <marquee behavior="fast" direction="scroll" duration="1s">
           <img class="ad1" src="bg/logo.png" alt="">
     
        </marquee>
    </div>
</div>