
































<section class="footer">
  <h4>About Us</h4>
  <p>You Plan, We gather! <br>Our club dea
    ls with Organising, Conducting
      and Organising events </p>
      <div class="icons">
         <a href="https://www.instagram.com/cristiano/?hl=en"> <i class="fa-brands fa-instagram fa-beat-fade"></i></a>
         <a href=""> <i class="fa-brands fa-discord"></i></a>
              <i class="fa-solid fa-phone"></i>
              <i class="fa-solid fa-location-dot"></i>

      </div>
<p>Made With  <i class="fa-regular fa-heart"></i> by CultFiesta</p>

</section>
