---

layout: 'base_club.njk'

---

<div class="container1">
    
  <div class="text-effect">
    <!-- Select the text in the preview and type in your own -->
    <h1 class="neon" data-text="SCI-PI" >SCI-PI</h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
  </div>
   <script>$('[data-text]').on('keyup', function(){
    $(this).attr('data-text', $(this).text());
  });</script>
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUtiKXJhwBhPt7My0TRftoUB7bIJAs_67zn_rV4PzO_YEA?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>
    
    As the only club representing science in RNSIT,our mission is to make science fun, engaging, and accessible to everyone. So, whether you're a budding scientist or just someone who's curious about the world around them, this is the place for you!
    </p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       
      <p>
    
Join us in this incredible journey of curiosity and exploration, where you'll laugh, learn, and make memories that will last a lifetime. Our teachers are here to guide you through the world of science with enthusiasm, encouragement, and a good dose of humor.

      </p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERq7PtBr1zVJlh1YxkuShrIBD9MDcyDyU2Pr3dDnY0gw4w?download=1">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
      
      <h1>ACTHIVMENTS</h1>
    
    </div>
<div class="mem2">

  <img class="ach" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EcT3wJJwoA5IlB9vGNwtdJcBq6KgNFCe7RUM_L-Mvl5dDw?download=1" alt="">
  <p style="text-align: justify;">
    The Sci Pi Club's crowning achievement is undoubtedly the spectacular Sci-Fi Fest that took place on the 1st of August. The fest featured captivating activities like collage making, model making, a futuristic 'Shark Tank' , an intellectual quiz, and the highly anticipated treasure hunt!Among these captivating events, the treasure hunt stood out as an interstellar hit! It garnered an overwhelming response from our fellow explorers, with more than 80 teams joining the game. We can't wait to continue our journey of exploration, learning, and fun with all of you. Stay tuned for more stellar adventures to come!So, what are you waiting for? Come and be a part of our Science Club – where science is not just a subject, it's an adventure!
    </p>
  </div>
  <div class="mem-info" style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
      
      <h1>Insights</h1>
    
    </div>
<div class="mem1">
<div class="row justify-content-center">
  

<div class="col a " style="margin-left: 30px;">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EWvpt5P8t6BEnuEYDsZO9eoB4qJX_WuIPnWJACT9l4NNzw?download=1" alt="" style="object-fit: fill;"></div>
     <div class="content">
      
         <span class="title1">
          Poster making
         </span>
       
         
   
       
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EcpP1n-BhrJGrfNYszy-F_4B-6OMNqnRSfBT-4n9WaAUPQ?download=1" alt="" style="object-fit: cover;"></div>
     <div class="content">
       
         <span class="title1">
          collage making
         </span>
   
     
   
     </div>
   </div>

</div>



<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ebq4UW6z7CJJr-ahMu_4alYBA9Iuf22juU6fnYJkZwwDrQ?download=1" alt=""></div>
     <div class="content">
      
         <span class="title1">
          'Shark Tank'
         </span>
   
     
   
       
     </div>
   </div>

</div>




</div>



  
</div>

<div class="gal">


  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>Gallery</h1>

</div>

     <!--image slider start-->
     <div class="slider">
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
        <input type="radio" name="radio-btn" id="radio7">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EcU_zyZ9HcBBlawzU3LbKmUBKGbNZqLKuFY3deq0kvcx7A?download=1" alt="" style="object-fit: cover;">
        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERKhGlGAR2FClOiEHlS53scBV31QFdKv7MEGd3P0Up43RQ?download=1" alt="" style="object-fit: cover;">

        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EXvkF3PadMtNj76Py1A0cSMBWNlCeHucPvV3ZeSRK0TARA?download=1" alt="" style="object-fit: cover;">

        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfF_f9MgGGpAhzELoAJvi1QBXnmT0nBAQXyvoqIs1LKkAg?download=1" alt="" style="object-fit: cover;">

        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
          <div class="auto-btn5"></div>
          <div class="auto-btn6"></div>
          <div class="auto-btn7"></div>

        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <!--image slider end-->

    <script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 7){
        counter = 1;
      }
    }, 2000);
    </script>

</div>
 
  
<div class="join" style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p>
        
        
Are you ready to embark on an exciting journey with the Sci Pi Club, where science is not just a subject, it's an adventure? If you share our passion for exploration, learning, and fun, we'd love to have you on board! Join us in our quest for knowledge and discovery as we continue to create stellar adventures. Would you like to be a part of our Science Club and experience the thrill of scientific exploration with us?
        
      </p>

    </div>
    <div class="info-txt3">
    <p> <b>Call US :</b>
      <br>Prahalad :+91 79753 11998

<br><br>
     <b>Insta-Id :</b> <a href="https://instagram.com/clubscipi4rnsit?igshid=MzRlODBiNWFlZA=="style="text-decoration: none;"> SCI-PI_rnsit <i class="fa-brands fa-square-instagram"></i></a>
      <br>
      
      
     
    

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUGKN_b4iftMr1xjkSTHXxAB5kWXizTKCvRVf4fNuXMU6Q?download=1
    f" alt="">

</div>



  </div>
</div>

















</div>



 
 





<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>
 