---
layout: 'base_club.njk'
---

<div class="container1">
    


  <h1 data-text="AIKYA"><span>AIKYA</span></h1>
 
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1" alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EU2G6Eo3kQRBtfp4ByRqJJ8ByTeCrn5LDwITtmTc0PZiaw?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>The AIKYA Student Club is a student body of the CSE department, RNSIT which was established in the year 2011.The club organized two days of various events for the students of the department in March 2023.The first day had a technical event and the second day had non- technical events. Both of these had over 120 participants competing to win the cash prize. The events served as a refreshing break in the mid of a long semester for everyone.</p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       
      <p>We held events for students of the CSE(and allied branches),ISE and AIML branches. Over 170 students participated in the events hosted over the course of two days  July 7th and 8th 2023.</p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EbcPDT0M2LFIttL7rr-XfoQBOQpJTua9kmxVsTFn6cJ-XA?download=1">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info" style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1" alt="">
      
      <h1>*Aikya* 2023</h1>
    
    </div>
<div class="mem1">
<div class="row">
  <div class="col a b">
    <div class="card1">
      <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EVTAV7kPxlVLjSLCqNeN5_wBZvLhNZLGgdrDMeASHysbsg?download=1" alt=""></div>
       <div class="content">
           <span class="title1">
            Multiverse of Madness 
           </span>
     
         <p class="desc">
          A mystery adventure game,  which was an elaborate escapade into different “universes” or themed rooms  such as Sherlock Holmes, Cricket, Football, Anime etc
         </p>
     
       </div>
     </div>
  </div>

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ea2-jvVOCx9NtHa5PLxQWj8B_uI1a5Cf4ro9dlCR7lozaQ?download=1" alt=""></div>
     <div class="content">
         <span class="title1">
          Call Of Duty Mobile
         </span>
       
   
       <p class="desc">
        A battle royale of all students playing the game was held. All the participants had to battle against each other in a virtual battleground until there was only one final survivor, crowned as the winner. 
       </p>
   
     
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETTEl5N6B_xGhkaVjEq6bZoBxSV15Zfg4cVkfN9nsIOk6w?download=1" alt=""></div>
     <div class="content">
      
         <span class="title1">
          Cooking without fire
         </span>
   
   
       <p class="desc">
        It was an amazing display of dishes created by the students without using any kind of heat. All participants in teams of two, brought their own requirements an completed the dishes in the stipulated time. 
       </p>
   
   
        
 
     </div>
   </div>

</div>







</div>
</div>


<div class="gal">


  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1" alt="">
  
  <h1>Gallery</h1>

</div>

     <!--image slider start-->
     <div class="slider" >
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
        <input type="radio" name="radio-btn" id="radio7">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EU_drVcmMMdPvSNwLMqsbBQBZDM15viqWvLndWreHYGnPg?download=1" alt="" style="object-fit: cover;">
        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EXe9jDlM4wdInkIFTeaEzaABYFXrN1nKP299rBBrDcmozw?download=1" alt="" style="object-fit: cover;">

        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ESvAO75GpqhLnfDQoKSCdkEBTfwOmczZYLrgrHdeJn2yfw?download=1" alt="" style="object-fit: cover;">

        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ESpPqzw-uJRMuyZAo24FO50B4Blolo2KniFS8688JswkVw?download=1" alt="" style="object-fit: cover;">

        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
          <div class="auto-btn5"></div>
          <div class="auto-btn6"></div>
          <div class="auto-btn7"></div>

        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <!--image slider end-->

    <script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 7){
        counter = 1;
      }
    }, 2000);
    </script>

</div>


<div class="join" style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
        "Are you ready to embark on an exciting journey of entertainment and camaraderie? Join Aikya, our vibrant club dedicated to curating unforgettable events and orchestrating a wide array of thrilling and engaging activities. Whether you're passionate about exploring new adventures or simply seeking to bond with like-minded individuals, Aikya is the perfect community for you to thrive in and make lasting memories."</p>

    </div>
    <div class="info-txt3">
    <p>Call US : &nbsp; 7795868074</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9980667426 </p>
    <p>Mail US: Aikya.Rnsit@gmail.com</p>

    <p>Instagram : <a href="https://instagram.com/aikya_rnsit?igshid=MzRlODBiNWFlZA==">Aikya_Rnsit</a></p>
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUGKN_b4iftMr1xjkSTHXxAB5kWXizTKCvRVf4fNuXMU6Q?download=1" alt="">

</div>



  </div>
</div>

















</div>



</div>





































<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


