---

layout: 'base_club.njk'

---

<div class="container1">
    <div class="img1"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EXHuXVIgnsRAkQJBRiJynGIBcS8M1iMBKt646ckqVj-9qw?download=1" alt=""></div>
    
    <h1 >SHUDDI</h1>

    <script>var h1 = document.querySelector("h1");
    
        h1.addEventListener("input", function() {
          this.setAttribute("data-text", this.innerText);
        });</script>

 
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EaYo4_iZtDBNtiCp9BS3ZV4BZ5U2HtHzvQMwezHdLNUypQ?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>Are you passionate about creating a cleaner and greener world? Do you want to make a positive impact on our environment? Join Shuddi, our waste management club, and be part of the change!

        Shuddi is all about promoting responsible waste management practices and raising awareness about environmental sustainability. Together, we can make a difference by reducing waste, recycling effectively, and educating our community.</p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       
      <p>As a member of Shuddi, you'll have the opportunity to participate in engaging activities such as waste clean-up drives, recycling campaigns, and educational workshops. You'll learn valuable skills, connect with like-minded individuals, and contribute to building a more sustainable future.

        Together, let's turn waste into opportunity and make a real difference.</p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ee6IdK83_0xBk1pt--G8vewBkQQ0RE0_4ySCRT-Vy5F9Lw?download=1">
            
  
     
      </div>
  </div>
  </div>

</div>

<div class="sec-2">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EYYtp3S2sA5DuYzYc8kdnMQBumirbOVxGIvUMBVDgvhxHQ?download=1" alt="">
</div>


<div class="mem-info" style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
      
      <h1>Our members</h1>
    
    </div>
<div class="mem1">
<div class="row">

    <div class="col a"><div class="card1">
        <div class="card-image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Eco9VKYmU6FElbdMpbWodf4Btc2-REfp4DbiKLc_63JaBQ?download=1" alt=""></div>
        <div class="category"> Student Co-ordinator </div>
        <div class="heading1"> HARIPRIYA SR, CO-FOUNDER, ECE DEPARTMENT, RNSIT.
         
        </div>
    </div></div>




    <div class="col a"><div class="card1">
        <div class="card-image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EZAkHezTveJPpnCmZVvJdkYBWR1cxM4p-HLXnlSTS5BBaw?download=1" alt=""></div>
        <div class="category"> Student Co-ordinator </div>

        <div class="heading1"> ANUSHA B,CO-FOUNDER,ECE DEPARTMENT, RNSIT.
            
        </div>
    </div></div>



    <div class="col a"><div class="card1">
        <div class="card-image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUuT1dmQeORPv0AUe_9gxR8BjXAT6y4-SkX_-dYWulqd8w?download=1" alt=""></div>
        <div class="category"> Student Co-ordinator </div>

        <div class="heading1"> SANDEEP CHITTARAGI, TECHNICAL HEAD,ECE DEPARTMENT, RNSIT.
          
        </div>
    </div></div>



    <div class="col a"><div class="card1">
        <div class="card-image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Edgm_Z6JtwVCp04tdh4V_tkBfGvX0Y4KZTFRUEIKT_Dizg?download=1" alt="" style="object-fit: cover;"></div>
        <div class="category"> Student Co-ordinator </div>

        <div class="heading1">CHETHANA BN,TECHNICAL HEAD,ISE DEPARTMENT, RNSIT.
         
        </div>
    </div></div>


</div>

</div>


<div class="mem2" style="overflow: hidden;">
  <div class="row">
  
      <div class="col b"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfXyIHeFPUhGsKI7TGwjqcwB9Yrr5_rfmo1eAJ3lULdnzw?download=1" alt=""></div>
          <div class="category"> Faculty coordinator </div>
         <div class="heading1"> DR. MALLIKARJUN H, EIE DEPARTMENT,YRCS HEAD,RNSIT.
              
          </div> 
      </div></div>
  
  
  
  
      <div class="col b"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETiNTQlrK1JKpunB7hFd7LsB9eiuhdz-tqnWHKtSObhHEQ?download=1" alt="" style="object-fit: cover;"></div>
          <div class="category">Faculty coordinator </div>
  <div class="heading1"> DR. LEENA CHANDRASHEKAR 
            , EIE DEPARTMENT,YRCS HEAD,RNSIT.
           
          </div>
          
      </div></div>
  
  
  
    
  
  
  </div>
  
  </div>

</div>
<div class="gal">


  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
" alt="">
  
  <h1>Gallery</h1>

</div>

     <!--image slider start-->
     <div class="slider">
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
        <input type="radio" name="radio-btn" id="radio7">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EYJcydNORWZNuZVURC8Efp0BQ1ItsMyWp7twRAUJz22i0g?download=1" alt="">
        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfnZSfXggxdEsDMroPcA_LgBpa_zUvlQ6QDvWuWAFR7E2Q?download=1">
        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERzLNGf27OpGkt3WzUrv-awB89_Mn2bRfqVEYmYTO0NEKA?download=1" alt="">
        </div>
        <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EZboG-vWgAJBqQ3FHPJ8WLEBYVqhkp5joqJw7mwJ4znEow?download=1" alt="">
        </div> <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EX4zhyzT2kFImT8Y8DNO2XYBcQEdZh1Bh7Jg95HAhvGFgQ?download=1" alt="">
        </div> <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfnZSfXggxdEsDMroPcA_LgBpa_zUvlQ6QDvWuWAFR7E2Q?download=1" alt="">
        </div> <div class="slide">
          <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETAMQvE38Q9OuQZWU7bRf3EB_53wle9VmUGmZqDPYTzFkw?download=1" alt="">
        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
          <div class="auto-btn5"></div>
          <div class="auto-btn6"></div>
          <div class="auto-btn7"></div>

        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
        <label for="radio7" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <!--image slider end-->

    <script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 7){
        counter = 1;
      }
    }, 2000);
    </script>

</div>


<div class="join" style="overflow: hidden;" >
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> Are you ready to join SHUDDI, a club that is committed to creating a greener and cleaner future for our planet? We are looking for passionate individuals who want to make a difference in the world. Together, we can make a real impact on the environment and leave a lasting legacy for generations to come.</p>

    </div>
    <div class="info-txt3">
    <p>Call US : &nbsp; 7795868074</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9980667426 </p>
    <p>Mail US: RNSIT1234@gmai.com </p>

    <p>Instagram : <a href="https://instagram.com/shuddi_rnsit?igshid=NGExMmI2YTkyZg==">shuddi_rnsit</a></p>
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ESFKjXVqnaJHoe9J4i0MiioB1z7QCzNluHf86ynK2QXgIw?download=1" alt="">

</div>



  </div>
</div>

















</div>


 




<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


 