@media(max-width: 1199px){
    .header_sec_bottom_in ul.navbar-nav a.nav-link {
        font-size: 15px; 
        padding: 0 9px;   
    }
  
    @media(max-width: 991px){
    
    .navbar-toggler-icon i {
        color: #ff6500;
        font-size: 40px;
    }
    .navbar-toggler {
        padding: 0;
        line-height: 1;
        font-size: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span.navbar-toggler-icon {
        width: auto;
        height: auto;
    }
    .navbar-toggler:focus{
        outline: 0;
    }
    .header_sec_bottom_in ul.navbar-nav a.nav-link {
        font-size: 15px;
        margin: 10px 0;
        padding: 0;
        border: 0;
    }
    .navbar-collapse {
        padding-top: 10px;
    }
    .navbar_right {
        display: flex;
        align-items: center;
        margin-left: 0;
        margin-top: 11px;
        margin-bottom: 15px;
    }
    .navbar_right_seach {
        position: inherit;
    }
    .navbar_right_seach_con {
        position: absolute;
        left: 0;
        background: #09015f;
        border-radius: 7px;
        width: 100%;
        margin-top: 5px;
        z-index: 1;
        right: auto;
    }
    .form-control {
        height: 40px;
    }
  
    }
    
    @media(max-width: 767px){
    body {
        font-size: 14px;
    }
    a.navbar-brand {
        flex: 0 0 60px;
    }
    .navbar-toggler-icon i {
        font-size: 30px;
    }
    .navbar-toggler {
        width: 30px;
        height: 30px;
    }
  
    .tabs_sec1 .nav-tabs .nav-link {
        min-width: 80px;
        font-size: 14px;
    }
    .nav-tabs .nav-item {
        min-width: 140px;
        max-width: 140px;
    }
    .tabs_sec1 .nav-tabs {
        margin-bottom: 10px;
    }

    .header_sec_links ul {
        display: block;
        text-align: center;
    }
    .header_sec_links ul li {
        display: inline-block;
        padding: 0 10px;
        vertical-align:middle;
        max-width:110px;
    }
        
    .header_sec_links > ul > li > a {
        font-size:13px;
        white-space:normal;
    }	
    
    }
    
}





@media(width > 1050px){
    .info-txt{
        padding: 20px !important;
        margin-top: 20px;
        
    }
    .info-txt p{
        font-size: 20px !important;
        padding: 20px;

    }
    .col-sm-4.qa{
        margin-left: 0% !important;
    }
    .col-sm-4.qa img{
        margin-left: 10% !important;
    }
    
.card1 {
    height: 440px !important;  
    width: 350px !important;
    
  }

  .image {  
    
    width: 350px !important;
  }

  .image img {  
    
    width: 350px !important;
  }

  
.card2 {
    width: 350px !important;
    height: 390px;
    margin-left: 10% !important;

  }
  .card-image2 {
    background-color: rgb(236, 236, 236);
    width: 340px !important;
    height: 290px;
  }
  .card-image2 img{
  width: 340px !important;
    height: 290px;
  
  }
  .slider{
    margin-left: 25% !important;
  }

}





@media only screen and (min-width: 992px){
    .info-txt{
        padding: 20px !important;
        margin-top: 20px;
    }
    .info-txt p{
        font-size: 18px;
        padding: 20px;

    }
    .col-sm-4.qa{
        margin-left: -4% !important;
        margin-top: 7%;
    }

    .col.z{
        padding: 0%;
        overflow: hidden !important;
    }
    
    .col-sm-4.qa img{
       width: 370px;
    }

   
.card1 {
    width: 270px;
 height: 450px;
 margin-left: 7% !important;
    
  }

  .image {  
    
    width: 270px;
  }

  .image img {  
    
    width: 270px;
  }

  
.card2 {
    width: 300px;
    height: 390px;
    margin-left: 5%;
    margin-bottom: 5%;

  }
  .card-image2 {
    background-color: rgb(236, 236, 236);
    width: 290px;
    height: 290px;
  }
  .card-image2 img{
  width: 290px;
    height: 290px;
  
  }
.slider{
margin-left: 18%;

}

}





















@media only screen and (max-width: 500px){
    .container1 {
    height: 200px;
    }
    .hd-2{
        font-size: 17px;
        font-weight: 600;
    }
    .hd-1{
        top: 35%;
    }
    .img-hd{
        height: 70px;
        margin-top: 124px;
        margin-left: 20px;

    }
    body{
        overflow-x: hidden;
     
    }
    .heading h1{
        font-size: 60px;
    }

.info-txt{
    text-align: center;
    overflow-x: hidden;
}
.info-txt p{
    margin-top: 0%;
}


.info-txt2 {
    margin-bottom: 20px;
}
        .row.s{
            flex-direction: column-reverse;
        }
      
    
       
        .swiper-slide {
            width: 250px;
          }
        
          .swiper-slide img {
            display: block;
            width: 250px;
            height: 150px;
            -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
          }
          
        
        .footer p{
            padding: 20PX;
        }
        .con-3{
            text-align: center;
        }
        .con-3 h1{
            font-size: 40px;
        }
        .card1{
           margin-left: 15%;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .col.s{ margin-left: 0%;}
        .gallery h1{
            font-size: 40px;
            padding-bottom: 20px;
        }
        .join h1{
            font-size: 45px;
        }
        .info-f{
            margin-top: 0%;
            
        }
        .info-txtt p{
            padding: 10px;
        }
        .col-sm-3.r{
            overflow: hidden;
        }
        .row.q{
            overflow: hidden;
        }
        
    }
    @media(width<400px){

      
        .info-txt3 p{
            font-size: 16px;
        }
        .card1{
            margin-left: 12%;
             margin-top: 20px;
             margin-bottom: 10px;
         }
    }