---

layout: 'base_club.njk'

---

<div class="container1">
    
  <div id="container">
    <span id="text1"></span>
    <span id="text2"></span>
  </div>
  <script>const elts = {
    text1: document.getElementById("text1"),
    text2: document.getElementById("text2")
  };
  
  // The strings to morph between. You can change these to anything you want!
  const texts = [
    "NEX SUS",
    "Defending",
    "the",
    "Virtual",
    "Fort"
  ];
  
  // Controls the speed of morphing.
  const morphTime = 1;
  const cooldownTime = 0.25;
  
  let textIndex = texts.length - 1;
  let time = new Date();
  let morph = 0;
  let cooldown = cooldownTime;
  
  elts.text1.textContent = texts[textIndex % texts.length];
  elts.text2.textContent = texts[(textIndex + 1) % texts.length];
  
  function doMorph() {
    morph -= cooldown;
    cooldown = 0;
    
    let fraction = morph / morphTime;
    
    if (fraction > 1) {
      cooldown = cooldownTime;
      fraction = 1;
    }
    
    setMorph(fraction);
  }
  
  // A lot of the magic happens here, this is what applies the blur filter to the text.
  function setMorph(fraction) {
    // fraction = Math.cos(fraction * Math.PI) / -2 + .5;
    
    elts.text2.style.filter = `blur(${Math.min(8 / fraction - 8, 100)}px)`;
    elts.text2.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;
    
    fraction = 1 - fraction;
    elts.text1.style.filter = `blur(${Math.min(8 / fraction - 8, 100)}px)`;
    elts.text1.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;
    
    elts.text1.textContent = texts[textIndex % texts.length];
    elts.text2.textContent = texts[(textIndex + 1) % texts.length];
  }
  
  function doCooldown() {
    morph = 0;
    
    elts.text2.style.filter = "";
    elts.text2.style.opacity = "100%";
    
    elts.text1.style.filter = "";
    elts.text1.style.opacity = "0%";
  }
  
  // Animation loop, which is called every frame.
  function animate() {
    requestAnimationFrame(animate);
    
    let newTime = new Date();
    let shouldIncrementIndex = cooldown > 0;
    let dt = (newTime - time) / 1000;
    time = newTime;
    
    cooldown -= dt;
    
    if (cooldown <= 0) {
      if (shouldIncrementIndex) {
        textIndex++;
      }
      
      doMorph();
    } else {
      doCooldown();
    }
  }
  
  // Start the animation.
  animate();</script>
  <!-- The SVG filter used to create the merging effect -->
  <svg id="filters">
    <defs>
      <filter id="threshold">
        <!-- Basically just a threshold effect - pixels with a high enough opacity are set to full opacity, and all other pixels are set to completely transparent. -->
        <feColorMatrix in="SourceGraphic"
            type="matrix"
            values="1 0 0 0 0
                    0 1 0 0 0
                    0 0 1 0 0
                    0 0 0 255 -140" />
      </filter>
    </defs>
  </svg>
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
    " alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EVt__hGfVXpFrMnNUiT1o4wBnLWmzRZSj_pw7voMkTE83w?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>The Department of Cybersecurity Student Club at our engineering college is a dynamic organization dedicated to fostering cybersecurity expertise among students. Our club hosts a wide range of technical and non-technical events throughout the academic year, aiming to enhance the skills of our members.

      Our technical events include hands-on workshops on topics such as ethical hacking, penetration testing, cryptography, and network security. These workshops provide students with practical experience and knowledge in the field of cybersecurity.</p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       
      <p>In addition to technical events, our club also organizes non-technical events like cybersecurity awareness campaigns, guest lectures from industry experts, and capture the flag (CTF) competitions. These activities help students develop a holistic understanding of cybersecurity, including its legal and ethical aspects.

        Through these initiatives, the Department of Cybersecurity Student Club plays a crucial role in preparing students for the ever-evolving challenges in the cybersecurity landscape, equipping them with the skills and knowledge necessary for a successful career in this field.</p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="Gallery/g3.png">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info"  style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
        " alt="">
      
      <h1>ACTIVITIES AND EVENTS</h1>
    
    </div>
<div class="mem1">
<div class="row">
  

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EXVsqgzor25Oiem2uz6CNUwBeUDx11yxKYMNEPSHWFgRdA?download=1" alt=""></div>
     <div class="content">
       
         <span class="title1">
          Ethnic day
         </span>
   
       <p class="desc">
      
With the vibrant hues of the rich tradition our country bestows upon us and with Indian culture as the theme for this year we have learnt a lot of things apart from our own culture. We learnt leadership qualities, crowd management, public relations as well as enhance our professional rapport with the teachers, HoD, Principal , the teaching as well as the non teaching staff. Inaugurated by the Principal and the HoD, our club marked the kickstart on this day. </p>
   
     </div>
   </div>

</div>



<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EaXFnNOPLFRFnPSK4Lc4-3kB6Mqc2nQEadU_4w9Zh_DtIw?download=1" alt=""></div>
     <div class="content">
      
         <span class="title1">
          Cultural Carnival

         </span>
   
       <p class="desc">
        The members of the cyber security club actively participated in all the events which was held through which the team spirit in each of them was showcased. Winners were rewarded and the events were all pretty fiery. Lots of fun filled activities along with new friendships,  made this day even better. The day memoraby ended with our beloved HoD signing off the event with joy.</p>
   
       
     </div>
   </div>

</div>




</div>
</div>
<div class="mem1"  style="overflow: hidden;">
  <div class="row">
    <div class="heading">

      <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
      " alt="">
    
    <h1>Club Coordinators</h1>
  
  </div>
      <div class="col z"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ea2sy5_zSgVGtHkpTZnWEMcBRYkHdXF942Zb0rtTUTlQcA?download=1" alt="" style="object-fit: cover;"></div>
          <div class="category"> Student Co-ordinator </div>
          <div class="heading1"> Navya Kedlaya, CO-FOUNDER, CSE (CY) DEPARTMENT, RNSIT.
           
          </div>
      </div></div>
  
  
  
  
      <div class="col z"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ebl1boBtEhRLsQ58NGD6tg0BjfMbZim15PKLqKQOJN3eCg?download=1" alt=""></div>
          <div class="category"> Student Co-ordinator </div>
  
          <div class="heading1">Bharath V,CO-FOUNDER, CSE (CY) DEPARTMENT, RNSIT.
              
          </div>
      </div></div>
  
  
  
      <div class="col z"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ERow_KG08-tBj9IR_fM5g88BNqHL1G-fEEY_TP_DhlLgCg?download=1" alt="" style="object-fit: cover;"></div>
          <div class="category"> Student Co-ordinator </div>
  
          <div class="heading1"> Venumadhava H, TECHNICAL HEAD, CSE (CY) DEPARTMENT, RNSIT.
            
          </div>
      </div></div>
  
  
  
      
  
  
  </div>
  
  </div>
  

  <div class="gal">


    <div class="heading">
  
      <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
      " alt="">
    
    <h1>Gallery</h1>
  
  </div>
  
       <!--image slider start-->
       <div class="slider">
        <div class="slides">
          <!--radio buttons start-->
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <input type="radio" name="radio-btn" id="radio4">
          <input type="radio" name="radio-btn" id="radio5">
          <input type="radio" name="radio-btn" id="radio6">
          <input type="radio" name="radio-btn" id="radio7">
          <!--radio buttons end-->
          <!--slide images start-->
          <div class="slide first">
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETAs4GrhFCFEpOF184hc8TYBxg23uYd8JXAnqZ7gVKuGGw?download=1" alt="" >
          </div>
          <div class="slide">
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfQYen7H4EFNiUeWjhnAgp8BL6proQZeyzMN3C7PtyG0tA?download=1" alt="" style="object-fit: cover;">
  
          </div>
          <div class="slide">
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfqKt16adZpFsHMSTxnFOygBI0CaoslTZQ8yid4Slot_BQ?download=1" alt="" style="object-fit: cover;">
  
          </div>
          <div class="slide">
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EfY_gXHznydPpHdEVzIMAYQBT4ZJS49az2qGhedSpnHdTQ?download=1" alt="" style="object-fit: cover;">
  
          </div>
          <!--slide images end-->
          <!--automatic navigation start-->
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
            <div class="auto-btn7"></div>
  
          </div>
          <!--automatic navigation end-->
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
          <label for="radio5" class="manual-btn"></label>
          <label for="radio6" class="manual-btn"></label>
          <label for="radio7" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
      </div>
      <!--image slider end-->
  
      <script type="text/javascript">
      var counter = 1;
      setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 7){
          counter = 1;
        }
      }, 2000);
      </script>
  
  </div>
  
<div class="join"  style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
        "Are you ready to embark on an exciting journey of entertainment and camaraderie? Nex Sus, our vibrant club dedicated to curating unforgettable events and orchestrating a wide array of thrilling and engaging activities. Whether you're passionate about exploring new adventures or simply seeking to bond with like-minded individuals, Nex SUS is the perfect community for you to thrive in and make lasting memories."</p>

    </div>
    <div class="info-txt3">
    <p> <b>Call US :</b>
      <br>Navya Kedlaya - 8310429967

      <br><br>
      Bharath V- 7204747048
      <br><br>
      Venumadhava H- 9606622525
      <br><br>
      
<br><br>
     <b>Insta-Id :</b> <a href="https://instagram.com/nexsus_rnsit?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="style="text-decoration: none;"> nexsus_rnsit <i class="fa-brands fa-square-instagram"></i></a>
      <br>
      
      
      <b>Email-Id</b> : Navyked@gmail.com </p>
    

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUGKN_b4iftMr1xjkSTHXxAB5kWXizTKCvRVf4fNuXMU6Q?download=1
    " alt="">

</div>



  </div>
</div>

















</div>



</div>




 































<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


 