---

layout: 'base_club.njk'

---

<div class="container1">
    


  <h1 >National Service Scheme</h1>
 
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
    " alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EVLwxR4l3c9HsWX4D8q8JygBHdCJrQJjGfER6Fl7o8haNA?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>

      National Service Scheme is task force in RNSIT with more than 500 Volunteers. It has undertaken many social programs. Unit is coordinated by NSS officer Dr. Shobha H Prasad, Librarian.
    </p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       <h3>Introduction </h3>
      <p>

        NSS Staff Team consisting, Dr. Shobha H Prasad, Librarian, NSS Officer, Prathap N, PED, Dr. Mallikarjun H M, Dept. of CSE-AI & ML, Dr. Harsha S, HoD, Dept. of CSE-AI & ML, Sachin Kulkarni, Dep.t of CV, Prof. Meenakshi, Dept. of CSE, Dr. Prakasha S, Dept. of ISE, Prof. Nirmala M S, , Dept. of ECE, Prof. Shwetha, , Dept. of EEE, Prof. Bharat Kumar, , Dept. of ME, Radha, , Dept. of CSE-DS, Dr. Manjunath N, Dept. of ME, Prof. Hemanth, Dept. of MCA, Dr. Deepak Kumar D, Dept. of MBA.
      </p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EZx6BnN69W5Gth1vCckZ1GABGK1_SfvdQbszB1mT1cYvHg?download=1">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info " style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
        " alt="">
      
      <h1>ACTIVITIES AND EVENTS</h1>
    
    </div>
<div class="mem1">
<div class="row">
  <div class="col a">
    <div class="card1">
      <!-- <div class="image"><img src="cl/1.png" alt=""></div> -->
       <div class="content">
        
           <span class="title1">
            	YRCS, NSS Conducted Road Safety event 
           </span>
        
     
         <p class="desc">
          .  Team conducted awareness campaigns related to the causes of road accidents and measures to prevent them. Event organised by replacing Barricades with plants by using cement pots (16 pcs).
        </p>
     
         
       </div>
     </div>
  </div>

<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/BLD.png" alt="" style="object-fit: cover;"></div> -->
     <div class="content">
      
         <span class="title1">Physical Education of RNSIT 
         </span>
       
       <p class="desc">
        	YRCS, NSS and Physical Education of RNSIT in association with Lions club south Bengaluru organized “Blood Donation festival” on July 7, 2023. Team mobilized 324 units of blood in today’s Blood Donation festival. 4 blood banks visited campus namely Lions Club, Narayana Hrudayalaya, Indira Gandhi, Sanjaya Gandhi. Saplings are distributed to blood donors
</p>
   
       
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/WRD.png" alt=""></div> -->
     <div class="content">
       
         <span class="title1">
         National Youth Day
         </span>
   
       <p class="desc">
        Under this faculties and students visited Channasandra village, Anganawadi, labours staying in tent taught them wastage segregation dry and wet separately. Created awareness on more usage of cloth bags instead of plastic covers. 

</p>
   
     </div>
   </div>

</div>



<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/ev.png" alt=""></div> -->
     <div class="content">
      
         <span class="title1">
          Road Safety Events 
         </span>
   
       <p class="desc">
        YRCS, NSS Conducted Road Safety event on Feb 14, 2023.  Team conducted awareness campaigns related to the causes of road accidents and measures to prevent them. Event organised by replacing Barricades with plants by using cement pots (16 pcs).
      </p>
   
       
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/ev.png" alt=""></div> -->
     <div class="content">
      
         <span class="title1">
          
          Paper bag preparation drive
         </span>
   
       <p class="desc">
        NSS under Non-credit mandatory courses conducted “Paper bag preparation drive” at RNSIT Mech block- Quadrangle on Aug 8, 2023. Fourth semester NCMC - NSS Students participated, prepared 750 paper bags and distributed to Channasandra nearby retails shops. 
      </p>
   
       
     </div>
   </div>



</div>

<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/ev.png" alt=""></div> -->
     <div class="content">
      
         <span class="title1">
          Violence against Women
         </span>
   
       <p class="desc">

        PRERANA-NSS & CICC committee of RNSIT had organized an awareness program for the girl students of RNSIT (all semesters with special focus on first year) on Jan 5, 2023 at 3 p.m., at Placement Seminar Hall, Third Floor, MBA Block. The awareness program concentrated mainly on Elimination of Violence against Women which include prevention of discrimination and sexual harassment, by promoting harmony and creating awareness among employees and students.  Around 350+ students and faculty attended the programme. 
      </p>
   
       
     </div>
   </div>

</div>
<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/ev.png" alt=""></div> -->
     <div class="content">
      
         <span class="title1">
          SWACHHATHA ANDOLAN
         </span>
   
       <p class="desc">

        NSS & YRCS organized SWACHHATHA ANDOLAN on March 20, 2023. Under these faculties and student visited Channasandra village, Anganawadi, labours staying in tent taught them wastage segregation dry and wet separately. Created awareness on more usage of cloth bags instead of plastic covers. 
      </p>
   
       
     </div>
   </div>

</div>

<div class="col a">
  <div class="card1">
    <!-- <div class="image"><img src="cl/ev.png" alt=""></div> -->
     <div class="content">
      
         <span class="title1">
          World Environment Day 
         </span>
   
       <p class="desc">

        NSS & YRCS – RNSIT organized World Environment Day in the college campus on June 5, 2023. Dr. Ramesh Babu H S, Principal RNSIT inaugurated the event and motivated gatherings.  5 Faculties and more than 150 student volunteers joined the event. Team planted 8 rose Saplings in front of Canara Bank in RNSIT campus. Volunteers actively participated in the event by picking plastic covers at our campus (swachata drive). 300 seed balls were distributed to students by NSS-YRCS Staff Coordinators.
      </p>
   
       
     </div>
   </div>

</div>

</div>
</div>





<div class="join" style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
       
Would you like to make a meaningful impact on society and be a part of a dynamic team of over 500 volunteers? Join the National Service Scheme at RNSIT, where we are actively engaged in various social programs. Our unit is coordinated by Dr. Shobha H Prasad, our dedicated NSS officer who guides us in our mission to serve the community. If you're passionate about contributing to positive change and volunteering for a noble cause, we welcome you to be part of our volunteer force. Join us, and let's make a difference together!






</p>

    </div>
    <div class="info-txt3">
    <p> 
    <b> Dr. Shobha H Prasad <br>
      

Librarian
NSS Officer- RNSIT
 <br></b>
      
<br><br>

     
      <br>
 
      <b>Email-Id :</b> shobhahprasad@rnsit.ac.in
    </p>
    

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETfTZi27ks5LlWERqdkq1LcB_5tu-CT62vZNWczNoo4xHQ?download=1" alt="">

</div>



  </div>
</div>

















</div>



</div>



 
































<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


 