---

layout: 'base_club.njk'

---

<div class="container1" style="overflow: hidden;">
  
  <ul class="hd-1">
    <li class="hd-2">R</li>
    <li class="hd-2">O</li>
    <li class="hd-2">B</li>
    <li class="hd-2">O</li>
    <li class="hd-2">T</li>
    <li class="hd-2">R</li>
    <li class="hd-2">O</li>
    <li class="hd-2">N</li>
    <li class="hd-2">I</li>
    <li class="hd-2">C</li>
    <li class="hd-2">S</li>


  </ul>
 <img class="img-hd" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2F3q63.gif?alt=media&token=42d39791-4c47-4f45-857d-35f5f01af491" alt="">
</div>

<div class="con-2" style="overflow: hidden;">
  <div class="heading">

    <img class="op" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2Fop.png?alt=media&token=39c52df4-71a9-43b0-98ad-2284e7d3a80d
    " alt="">
  
  <h1>About Us</h1>

</div>

<div class="row q" style="overflow: hidden;">

  <div class="col"  style="text-align: center; overflow: hidden;" >
    <img  class="i-1" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fimg%2Flogo.png?alt=media&token=db71591b-3112-4405-a031-ff8015237ee2" alt="" style="border-radius: 20px;">
 
   </div>


  <div class="col-lg-8" style="overflow: hidden;">
   <div class="info-txt">
    <p>
      Robotronics, the fusion of
        robotics and electronics, is a
        captivating field that continues
        to revolutionize various
        industries and shape the future
        of technology. In this abstract,
        we delve into the world of a
        robotics club, an engaging and
        collaborative community that
        serves as a hub for
        enthusiasts to explore, create,
        and innovate in the realm of
        robotics. 
      </p>
    
</div>
</div>
</div>





<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
       <h1>Introduction</h1>
      <p>The robotics club offers a dynamic platform where members can not only gain valuable hands-on experience but also stay at the forefront of cutting-edge developments in the ever-evolving world of Robotronics.</p>
      
  </div>
  </div>
  
  
  <div class="col-sm-3 qa">
   <img class="i-2" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2Fretro_robot_pacing_success_md_nwm_v2.gif?alt=media&token=861c1bf3-05d0-4d84-81b3-20837e3ce54e" alt="">
    
      </div>
  </div>
  </div>



<div class="con-3">

  <div class="heading">

    <img class="op" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2Fop.png?alt=media&token=39c52df4-71a9-43b0-98ad-2284e7d3a80d
    " alt="">
  
  <h1>ACTIVITIES AND EVENTS</h1>

</div>

<div class="row">

  <div class="col ">
    <div class="card1">
      <div class="image"><img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fimg%2F0bcec85c-897b-4688-996f-7da9e466201d.jpg?alt=media&token=75b7b284-22da-4271-b502-92fc6c96c7fb" alt=""></div>
       <div class="content">
           <span class="title1">
            Fixed DC Power Supply Design and Implementation
           </span>
     
         <p class="desc">
          Workshops and Training: A workshop on “ Fixed DC
Power Supply Design and Implementation” which
was conducted on 07/01/2023 and 08/01/2023 for 3rd
sem students from all branches.
         </p>
     
         
       </div>
     </div>
  </div>

<div class="col ">
  <div class="card1">
    <div class="image"><img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fimg%2F20179d7a-5c59-496b-837e-826cbd470221.jpg?alt=media&token=314bf5b4-f15b-4a15-b08b-7bf7de141170" alt=""></div>
     <div class="content">
         <span class="title1">
          “HANDS-ON WORKSHOP ON circuit
          design using Op-amp AND timer
         </span>
   
       <p class="desc">
        Workshop: “HANDS-ON WORKSHOP ON circuit
        design using Op-amp AND timer” conducted on 28th
        and 29th of Feb 2023 by 3rd sem coordinators
       </p>
   
    
     </div>
   </div>

</div>

<div class="col">
  <div class="card1">
    <div class="image"><img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fimg%2F6a451f04-aec6-4dc9-9aba-00311764a733.jpg?alt=media&token=006253f1-0fbd-4d97-b743-1551dc0d2f35" alt=""></div>
     <div class="content">
         <span class="title1">
          Joy of Graphical Coding
         </span>
   
       <p class="desc">
        Workshop: Joy of Graphical Coding conducted on
        04/02/2023 by 3rd sem coordinators
       </p>
   
      
     </div>
   </div>

</div>







</div>

</div>



  <div class="gallery">
    <div class="heading5">
  
      <img class="op" src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2Fop.png?alt=media&token=39c52df4-71a9-43b0-98ad-2284e7d3a80d
      " alt="">
    
    <h1>Gallery</h1>
  
  </div>
  
  
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
   
      <div class="swiper-slide">
        <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fgallery%2F1.jpeg?alt=media&token=074b3a37-6555-482c-89fd-0822eab5c7ca" alt="">
      </div>
     <div class="swiper-slide">
        <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fgallery%2F2.jpeg?alt=media&token=3cb3c2b0-a8cf-4023-b28f-871d2f96212b" alt="">
      </div>
      <div class="swiper-slide">
        <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fgallery%2F3.jpeg?alt=media&token=a3e05e3d-5740-4f4d-87d9-d9672c63798f" alt="">
      </div>
      <div class="swiper-slide">
        <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FOur%20Clubs%2Fclubs%2FRobotronics%2Fgallery%2F4.jpeg?alt=media&token=1c08e09e-7e63-40ba-bbf6-838fe78a9e40" alt="">
      </div>

     
  
    
    </div>
  </div>
  
  
    
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 15,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: true,
      },
      loop: true,
    });
  </script>
  
  
  
  
  
  </div>





  <div class="join">
    <div class="head">
  <h1>Wanna Become a Member!
  </h1>
  </div>
  
  <div class="row">
  
    <div class="col-sm-7">
      
  <div class="btm">
  
  
    <img  src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2F11.gif?alt=media&token=bf7875ef-69ad-4d9c-b352-43c5a71d7638" alt="">
    
    
    </div>
      <div class="info-txtt">
      
        <p>Membership in the Robotronics Club is open to all
          students at RNS Institute of Technology to join,
          interested individuals need to fill out a membership form
          and pay the required membership fee. Benefits of
          membership include access to club resources,
          participation in activities, and networking opportunities
          with like-minded individuals.
          </p>
          <p>• All interested students are to pay a membership fee of
            Rs.100</p>
  
      </div>
      <div class="info-txt3">
        <p> 
        <b>Prof: Narendra kumar <br>
          Department of ECE

    
     <br></b>
          
    <br><br>
    
         
          <br>
          <b>Call On:</b> 9741533255
          <br>
          <b>Email-Id :</b> robotronicsclubrnsit@gmail.com
     <br><br>
         <b>Student Co-ordinator:</b>
         <br>
         Pavan- 7676718543
         <br>
         Kartik- 994568356
    
        </p>
        
       
    
        
        </div>
    </div>
  
    <div class="col" style="text-align: center;">
      <div class="i-11">
        <img src="https://firebasestorage.googleapis.com/v0/b/dbms-d5864.appspot.com/o/Files%2FBackground%2FAniBot_Cyber_Fly.gif?alt=media&token=e480f62a-a69e-4f2d-b77e-abaf95817267
        " alt="">
    
    </div>
    
      
  
  
  
  
  
  
  
  
  </div>
  
  
  
  
  
  
 