---

layout: 'base_club.njk'

---

<div class="container1">
    


  <h1>Product Development Club</h1>
 
</div>

<div class="con-info" style="overflow: hidden;">

  <div class="heading">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
    " alt="">
  
  <h1>About Us</h1>

</div>
  <div class="row">

  <div class="col-sm-3 a" >
    <div class="inner">
<img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EQcwGO42Z6xAlxSlMaRZXUEBTMYi2KbiCCtPI-4CRkcH9A?download=1" alt="">
   </div>

</div>
  <div class="col">
   <div class="info-txt">
    <p>
      The vision of the product development club is to develop a culture of design thinking and user-centric product development in the institute through Design Challenges, Impactful Projects, Workshops, and more.


    </p>
    
</div>
</div>






<div class="row s">
  <div class="col-sm-8 q">
   

    <div class="info-txt2">
      <p>
        At the PDC, we are excited by technology and the liberating impact that it can have. We are equally driven by problems that matter, Our projects always strive to solve high-impact problems and meet unmet needs. We ideate, iterate, and transform ideas into cutting-edge solutions that redefine the world of possibilities.


      </p>
      
  </div>
  </div>
  
  
  <div class="col-sm-4 qa">
  
       
            <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EReuaayKuL9JhbJfexAdZyEBnOynAXrodDxqD65yL8crcQ?download=1">
            
  
     
      </div>
  </div>
  </div>

</div>



<div class="mem-info" style="overflow: hidden;">

    <div class="heading">

        <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
        " alt="">
      
      <h1>ACTIVITIES AND EVENTS</h1>
      
    
    </div>
<div class="mem1" >
<div class="row q">
 

<div class="col a">
  <div class="card1">
    <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EcfOlBHKgyRCl1TRtw6bMdIBqQ_EFoxMWYUYFHx1VBzHpQ?download=1" alt="" style="object-fit: cover;"></div>
     <div class="content">
      
         
      <span class="title1">
        RNSIT Campus Buggy 
       </span>
     </a>
 
     <p class="desc">
    
      In 6th semester we have developed an battery operated 5-seater vehicle which was branded as “RNSIT Campus Buggy”.

The main aim of the vehicle was to provide ease of travel and comfort to travel around the campus.

    </p>
   
       
     </div>
   </div>

</div>

<div class="col a ">
<style>
  .robo1
{
  width: 90%;
  /* height: 500px; */
  border-radius: 20px;
}
</style>
 <video src="https://rnsit-my.sharepoint.com/:v:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EQkSSHQeXHRMp_tgio3EmwUBoz6rqz5L3VRIqAsYWiIG4Q?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&download=1"  autoplay loop muted playsinline class="robo1"></video>

</div>



</div>

<div class="row s" style="margin-top: 40px;">
 
  <div class="col a">
    <style>
      .robo
    {
      width: 90%;
      /* height: 300px; */
      border-radius: 20px;
    }
    </style>
     <video src="https://rnsit-my.sharepoint.com/:v:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ET94wmy5jiZMsbVlDItJZ34BDx4VVefpD_iDQvI_SUidjQ?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&download=1"  autoplay loop muted playsinline class="robo"></video>
  
  </div>


  <div class="col a">
    
    <div class="card1">
      <div class="image"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EadM10S67XNGnIuiTbH7oZIBHgkBnW6W0cnH-mlMVBl_xw?download=1" alt="" style="object-fit: contain;"></div>
       <div class="content">
        <span class="title1">
          Automated Wheel Chair
         </span>
       </a>
   
       <p class="desc">
        At PDC we have developed a Automated Wheel Chair whose primary goal is to empower those who are physically challenged. The wheelchair that we have designed eliminates all the limitations faced by the convention wheelchair.

        The wheelchair is a completely electric and can be controlled autonomously by a mobile phone.
        
          </p>
   
         
     
     
       </div>
     </div>
  
  </div>
</div>
  
 
  
  
  
  
  
  
  
  </div>
</div>

<div class="iframe">

  <div class="heading2">

    <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
    " alt="">
  
  <h1>Prodothon 2023</h1>

</div>

<iframe class="ytv"
src="https://www.youtube.com/embed/bH-_Qo-9UrY">
</iframe>

</div>





<div class="mem2" style="overflow-x: hidden;">
  <div class="row justify-content-center">
    <div class="heading">

      <img class="op" src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/Ed0Wc70576JNgj9mi6GZQ3YB-uW1TdG0lcqa6b7dpdL73w?download=1
      " alt="">
    
    <h1>Student Co ordinator</h1>
  
  </div>
      <div class="col z "><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EYRW_X4Qj4NOnsVUAX3ggmkBqQ5sTPtVYddVmD3wxz6ELA?download=1" alt="" style="object-fit: cover;"></div>
          <div class="category">Student Co ordinator</div>
          <div class="heading1">Varun OV , RNSIT.
           
          </div>
      </div></div>
  
  
  
  
      <div class="col z"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/ETkF14a430VDo9q_4UMuZ9EBN4j4Xy5SRnU5fEmtcMLtJA?download=1" alt="" style="object-fit: cover;"></div>
          <div class="category">Student Co ordinator</div>
  
          <div class="heading1">Shamanth, RNSIT.
              
          </div>
      </div></div>
  
  
  
      <div class="col z"><div class="card2">
          <div class="card-image2"><img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EVF8Qh-ELklOufEgBoWnXm8BSdgNi94QgSIjvTCZtoVNFg?download=1" alt="" ></div>
          <div class="category">Student Co ordinator</div>
  
          <div class="heading1">Anirudh T, RNSIT.
            
          </div>
      </div></div>
  
  
  
    
  
  
  </div>
  
  </div>


















<div class="join" style="overflow: hidden;">
  <div class="head">
<h1>Reach Out to us </h1>
</div>

<div class="row">

  <div class="col-sm-7">
    <div class="info-txt">
    
      <p> 
       
       
        Ready to embark on a tech adventure? Join Our Club today! Reach out to us for inquiries, workshops, and exciting collaborations. Let's innovate together!



</p>

    </div>
    <div class="info-txt3">
    <p> 
  
      
<br><br>


    
     <b>Student Co-ordinator:</b>
     <br>
     Varun OV : +91 81230 80768
     <br>
    
    </p>
    
   

    
    </div>
  </div>

  <div class="col">
    <div class="i-11">
    <img src="https://rnsit-my.sharepoint.com/:i:/g/personal/1rn22cd066_rnsit_onmicrosoft_com/EUGKN_b4iftMr1xjkSTHXxAB5kWXizTKCvRVf4fNuXMU6Q?download=1
    " alt="">

</div>



  </div>
</div>

















</div>



</div>

  



<!-- <link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.fullpage/2.5.9/vendors/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
</script>
<script type="text/javascript">
// fullpage customization

if (jQuery(window).width() > 991) {
  jQuery('#fullpage').fullpage({
    sectionSelector: '.vertical-scrolling',
    slideSelector: '.horizontal-scrolling',
    navigation: false,
    slidesNavigation: false,
    controlArrows: false,
    anchors: ['1stSection', '2ndSection', '3rdSection', '4thSection', '5thSection', '6thSection', '7thSection',
      '8thSection', '9thSection', '10thSection', '11thSection'
    ],
  });
}
</script> -->





















<!-- -------------------------------------------Footer script------------------------------------------------------------- -->

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/jquery.min.js"></script>

<script src="https://www.rnsit.ac.in/wp-content/themes/twentyseventeen/js/bootstrap.min.js"></script>





<!-- -------------------------------------------Footer script------------------------------------------------------------- -->










































<style type="text/css">
  
  
  .header_sec {
    margin-top: 0px;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #ddd;
  }
 

  
 
  
  @media(max-width: 991px) {
    .header_sec {
      position: fixed !important;
      width: 100vw;
      /* height: 120px; */
    }
    .navbar-brand img{
      width: 50px;
      height: 50px;
    }
  }
  </style>


 